.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem 2rem;
  background: #ccebff;
}

.header h1 {
  font-size: 1.5rem;
  color: #ff8e14;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.logo img {
  height: 24px;
  width: 24px;
  transform: rotate(50deg);
}

.nav {
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: start;
}

.nav a {
  color: #ff8e14;
}

.active {
  color: #ff8e14 !important;
  display: grid;
}

.active::after {
  content: '';
  height: 2px;
  width: 100%;
  display: block;
  background: #ff8e14;
}
