.agendarViagens {
  display: grid;
  justify-content: center;
  gap: 2rem;
  margin: 1rem 0;
}

.agendarViagens h1 {
  font-size: 1.5rem;
  color: #ff8e14;
  text-align: center;
}

.form {
  display: grid;
  gap: 1rem;
  width: 400px;
}
